{{> headers}}
{{> navbars}}

<div class="row">

    <div class="col-8">

      <h1>Batman en accion</h1>  

       <p>
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati repellat quidem impedit labore laboriosam. Itaque perspiciatis laudantium debitis sunt fugit, velit temporibus ipsum suscipit ea qui nemo asperiores quae expedita!
       </p> 


    </div>
    <div class="col-4">

        <img src="assets/img/batman1.png" class="img-thumbnail"> 

    </div>

</div>


{{> footer}}